*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
nav a img{
    max-width: 50px;
}


nav a{
    font-size: 1.5em;
    text-decoration: none ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: black;
}
.map{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.map iframe{

    width: 80%;
    height: 450px;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titre h2{
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: black;
    margin-left: 10%;
    padding-top: 20px;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border-radius: 10px;
}
.accordion {
    margin-top: 20px;
    background-color: #D6A979 ;
    color: #000000;
    cursor: pointer;
    padding: 15px;
    width: 80%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    flex-direction: column;
  }
  .panel {
    padding: 0 18px;
    background-color: rgb(190, 190, 190);
    display: none;
    overflow: hidden;
    width: 70%;
  }

  .panel h2{
    display: flex;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    padding: 10px;
  }
  .panel p{
    display: flex;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    padding-bottom: 10px;
  }
  .panel a{

    color: #000000;
    border-bottom: 1px solid #000000;
}

.bloc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    background-color: #afafaf;
    padding:10px;
    border-radius: 10px;
    margin-top: 20px;
}
.bloc a{
    text-decoration: none;
    display: flex;
    color: #000000;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.7em;
}
.bloc img{
    width: 30px;

}
.aide{
    display: flex;
    align-items: center;
    justify-content: center;

}
.aide a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7em;
    padding: 10px 40px 10px 40px;
    background-color: #D6A979;
    color: white !important;
    text-decoration: none ;
    border-radius: 10px;
    bottom: 50px;
    font-size: bold;
    margin-top: 40px;

}