*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
nav a img{
    max-width: 50px;
}


nav a{
    font-size: 1.5em;
    text-decoration: none ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: black;
}

.titre h2{
    display: flex;
    align-items: center;
    font-size: 1.3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: black;
    margin-left: 6%;
    padding-top: 20px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.blocNotif{
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    background-color: gainsboro;
    margin-top: 20px;
}
.blocNotif h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
}
.blocNotif p{
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.blocNotif a{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D6a979;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    color: black;

}

.aide{
    display: flex;
    align-items: center;
    justify-content: center;

}
.aide a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7em;
    padding: 10px 40px 10px 40px;
    background-color: #D6A979;
    color: white !important;
    text-decoration: none ;
    border-radius: 10px;
    bottom: 50px;
    font-size: bold;
    margin-top: 40px;

}